<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link rel="" href="">
    {% endblock %}
</head>
<body>

{% include 'shared/header.html.twig' %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

{% include 'shared/footer.html.twig' %}

</body>
</html>
