<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>

{% include 'shared/header.html.twig' %}

{% block body %}{% endblock %}

{% include 'shared/footer.html.twig' %}

</body>
</html>
